/* main */
.main-container{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-title {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin: 1rem;
}

.main-title > span{
  font-size: 20px;
  display: flex;
  background-color: #3f51b5;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  outline: 0;
  border: 0; 
  margin: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
  &:hover {
    background-color: #0bb5dc;
  }
  &.span-disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  &.span-enabled {
    background-color: #3f51b5;
    cursor: pointer;
  }
}


.main-subtitle {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 1rem;
}


@media screen and (max-width: 1355px) {
  .main-container{
    justify-content:flex-start;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 889px){
  .main-container{
    align-items: center;
  }
}

/* cards */

.cards-container{
  display: flex;
  gap: 10px;
}
.card-item{
  width: 500%;
}

@media screen and (max-width: 1355px) {
  .cards-container {
    flex-direction: column;
  }
  .card-item{
    height: 9rem;
  }
  .table-container{
    padding: 1rem;
  }
}

@media screen and (max-width: 889px)
{
  .cards-container {
    width: 90%;
  }
  .table-container{
    padding: 1rem;
  }
}


